.event-card {
  max-width: 750px;
  height: 250px;
  position: relative;
  border-radius: 16px;
  background: #f5f5f5;
  transition: box-shadow .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
  cursor: pointer;
}

.event-card-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.event-card-info {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.event-card-button {
  opacity: 0;
  transform: translateX(-20%);
  width: 2em;
  height: 2em;
  transition: all .3s ease-in-out;
}

.event-icon {
  --size: 20px;
  width: var(--size);
  height: var(--size);
}

/*Text*/
.event-card-text p {
  line-height: 140%;
  white-space: nowrap;
}

.event-text-title {
  font-weight: 900;
  font-size: 1.2rem;
  color: #222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px; /* Adjust this value as needed */
}

.event-icons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  color: #555;
   font-size: 1.2em;
   
}

.icon-container {
  position: relative;
  transition: transform 0.3s ease-in-out; /* Add transition property */
}

.icon-container:hover {
  transform: scale(1.2); /* Add a scaling effect on hover */
}

 

 
.event-card:hover {
  box-shadow: 0 10px 20px 4px rgba(35, 35, 35, .1);
}

.event-card:hover .event-card-button {
  opacity: 1;
  transform: translateX(20%);
}