.vp-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
  }
  
  .vp-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 700px;
    width: 100%;
    text-align: left;
  }
  
  .vp-modal-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .vp-modal-description {
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .vp-modal-description-container {
    max-height: 200px;
    /* Set a maximum height for the description container */
    overflow-y: auto;
    /* Enable vertical scrolling if the content exceeds the container height */
    margin-top: 20px;
  }
  
  .vp-modal-content-container-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
  }
  
  .vp-modal-content-container {
    width: 100%;
    /* Make the content container take full width */
  }
  
  .vp-information {
    max-height: 260px;
    overflow-y: auto;
    /* Enable vertical scrolling if the content exceeds the container height */
  }
  
  .vp-modal-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
   }
  
  .vp-modal-content-wrapper {
    display: flex;
    gap: 40px;
  }
  
  .vp-modal-button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .vp-modal-display-volunteers-button {
    margin-top: 20px;
    --button_radius: 0.75em;
    --button_color: #ffffff;
    --button_outline_color: #000000;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    width: 40%; /* Adjusted width for responsiveness */
  }
  
  .vp-modal-display-volunteers-button-span {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  button:hover .vp-modal-display-volunteers-button-span {
    transform: translateY(-0.33em);
  }
  
  button:active .vp-modal-display-volunteers-button-span {
    transform: translateY(0);
  }
  