/* PrayerRequestContent.css */
.vcg-header h1{
    font-size: 70px;
    margin-left: 25px;
}

@media screen and (max-width: 768px) {
    .prayerreq-header h1{
        font-size: 50px;
        line-height: 1em;
        margin-bottom: 40px;
        
    }
    
  }

 .vcg-filter {
  border: 1px solid black;
  font-size: 18px;
  padding: 8px;
  box-sizing: border-box;
  max-width: 100%;
  width: auto;
  background-color: transparent;
  margin-left: 25px;
 }

.volunteers-table {
    margin: 20px;
    overflow-x: auto; /* Add horizontal scrollbar for small screens */
  
    table {
      width: 100%;
      border-collapse: collapse;
    }
  
    th, td {
       padding: 8px;
       text-align: center;

    }

    tbody tr {
        border-bottom: 1px solid #ccc; /* Adjust the color and thickness as needed */
      }
 
    tbody tr:hover {
      background-color: #f5f5f5;
    }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2; /* Adjust the background color as needed */
      }

    td:nth-child(1) {
        /* Change the value below to your desired width */
        width: 350;
        max-width: 500px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      td:nth-child(2) {
        /* Change the value below to your desired width */
        width: 100px;
        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    td:nth-child(3) {
        /* Change the value below to your desired width */
        width: 200px;
        max-width: 350px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      td:nth-child(4) {
        /* Change the value below to your desired width */
        width: 300px;
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      td:nth-child(5) {
        /* Change the value below to your desired width */
        width: 200px;
        max-width: 350px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  
    @media screen and (max-width: 600px) {
      /* Make the table responsive for small screens */
      th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
      }
  
      td {
        text-align: center;
      }
  
      tbody tr {
        display: block;
        margin-bottom: 10px;
      }
    }
  }

 
.connectgroups-table {
  margin: 20px;
  overflow-x: auto; /* Add horizontal scrollbar for small screens */

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
     padding: 8px;
     text-align: center;

  }

  tbody tr {
      border-bottom: 1px solid #ccc; /* Adjust the color and thickness as needed */
    }

  tbody tr:hover {
    background-color: #f5f5f5;
  }

  tbody tr:nth-child(even) {
      background-color: #f2f2f2; /* Adjust the background color as needed */
    }

  td:nth-child(1) {
      /* Change the value below to your desired width */
      width: 350px;
      max-width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    td:nth-child(2) {
      /* Change the value below to your desired width */
      width: 150px;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  td:nth-child(3) {
      /* Change the value below to your desired width */
      width: 350px;
      max-width: 450px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    td:nth-child(4) {
      /* Change the value below to your desired width */
      width: 350px;
      max-width: 350px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    td:nth-child(5) {
      /* Change the value below to your desired width */
      width: 200px;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  @media screen and (max-width: 600px) {
    /* Make the table responsive for small screens */
    th, td {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }

    td {
      text-align: center;
    }

    tbody tr {
      display: block;
      margin-bottom: 10px;
    }
  }
}


.eventlist-header-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  padding-right: 40px;
}

