.side-panel {
  width: 200px;
  background-color: #000000;
  color: #fff;
  position: fixed;
  height: 100vh;
  padding: 30px;


  top: 0;
  left: 0;
}

.dashboard-admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-logo {
  width: 190px;
  height: auto;
  margin-bottom: 20px;
}

.dashboard-admin-container p {
  text-align: center;
  margin-bottom: 50px;
   font-size: 10px;
}

.dashboard-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}


.dashboard-menu-item {
  display: flex;
  gap: 12px;
  height: 40px;
  cursor: pointer;
  align-items: center;
}

.dashboard-menu-item:hover {
  opacity: 0.6;
  transition: 0.25s;
}

#dashboard-logout, #delete-icon {
  color: rgb(118, 11, 11);
}

.dashboard-container {
  margin-left: 200px;
  padding: 20px;
}

.main-content {
  padding: 20px;
  border-radius: 8px;
}

.submenu {
  background-color: #000000; /* Black background */
  color: #ffffff;
  margin-top: 60px;
  left: 0; /* Position directly below the parent menu */
  position: absolute; /* Position relative to the parent menu */
  width: 200px;
}

.submenu-item {
  display: flex;
  gap: 20px;
  height: 40px;
  cursor: pointer;
  align-items: center;
  padding: 1px 0px 1px 40px;
}

.submenu-item:hover {
  opacity: 0.6;
  transition: 0.25s;
}