/* Add your styling for the side panel here */
  .side-panel {
    width: 200px;
    background-color: #333;
    color: #fff;
    position: fixed;
    height: 100vh;
    top: 70px; /* to ensure that navbar will not be covered*/
  }
  
 .dashboard-logo{
  width: 100px;
  height: auto;
 }

  /* Navigation Bar Styles */
  .top-nav {
    display: flex;
    justify-content:space-around;
    gap: 1290px;
    align-items: center;
    background-color: #141414;
    color: #fff;
    padding: 10px;
     height: 100%;
    max-height: 70px;
    width: 100%;
  }


  .nav-button-container {
    margin: 0;
  }

  .nav-button-container ul{
    list-style-type: none;
    padding: 0;
    display: flex;
  }

  .nav-button-container li {
    margin-right: 15px;
  }

  .nav-button-container a {
    text-decoration: none;
  }
  
  .nav-logo {
    width: 20px;
    height: 20px;
  }

  .nav-button-container a:hover{
    opacity: 0.5;
  }

  /* main-contenr*/
  .dashboard-container {
    flex-direction: column;
  }

  .main-content{
    flex-grow: 1;
    margin-left: 200px;
  }
  