.prayer-header-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url('../../assets/sitecoverimages/donations.jpg') center center/cover no-repeat;
 }

.NavBar,
.prayer-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prayer-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: 860px;
    font-weight: 600;
    text-align: center;
    font-size: 90px;
    line-height: 1.8em;
 text-transform: uppercase;
    max-width: 100%; /* Ensure the text does not overflow its container */
    padding: 0 20px; /* Add padding to prevent text from sticking to the edges */

}

.prayer-section-container{
   
    height: auto;
    padding: 50px;
}

.prayer-request-container{
 width: 1400px;
height: auto;
display: flex;
 flex-direction: column; /* Change the flex direction to column */
align-items: center; /* Center items horizontally */
 }

.prayer-input-container text{
    width: 800px;
}


.prayer-input-container {
     display: flex;
     gap: 15px;
}

 .prayer-wrapper{
    display: flex;
    gap: 60px;
 }

 #prayerclientname{
    width: 470px;
 }

 #prayerclientdate{
    width: 530px;
 }

 .prayer-input-container{
    margin-bottom: 30px;
    
 }

 .prayer-input-container textarea{
     width: 1195px;
    height: 520px;
    resize: none;
    padding: 20px;
 }


 .prayer-button {
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    width: 393px; /* Adjusted width for responsiveness */
  }
  
  .prayer-button-span {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  button:hover .prayer-button-span {
    transform: translateY(-0.33em);
  }
  
  button:active .prayer-button-span {
    transform: translateY(0);
  }
  
  @media screen and (max-width: 768px) {
 

    .prayer-wrapper{
        flex-direction: column;
        gap: 0;
       
     }
    
  
    .prayer-text-container {
      font-size: 50px;
    }
  
    .prayer-section-container {
      padding: 20px;
    }
  
    .prayer-request-container {
      width: 100%;
    }
  
    .prayer-input-container textarea {
      width: 100%;
    }
  
    #prayerclientname,
    #prayerclientdate {
      width: 100%;
    }
  
    .prayer-button {
      width: 200px
    }
  }