@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


 

.faq-container{
  max-width: 600px;
  margin: 0 auto;
}

.faq{
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 30px;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  transition: all .4s ease;
}

.faq.active{
  background-color: #FFF8C9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq-title{
  margin: 0 35px 0 0;
}

.faq-text{
  display: none;
  margin: 30px 0 0;
}

.faq.active .faq-text{
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
  color: #000;

}

.faq-toggle:hover{
  background-color: transparent;
  color: #000000;
}

.chevron, .close{
  width: 12px;
  height:12px;
}

.faq-toggle .close{
  display: none;
} 

.faq.active .faq-toggle .close{
  display: block;
}

.faq.active .faq-toggle .chevron{
  display: none;
}

.faq.active .faq-toggle{
  background-color: #000000;
  border-radius: 50%;
  color:#ffffd9;
}