@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;500;600;700;800;900&family=Lato&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,800;0,900;1,100;1,200;1,700;1,900&family=Poppins&family=Roboto+Condensed:wght@400;500&family=Roboto:ital,wght@0,500;0,900;1,400&display=swap");
.ministry-title-block {
  position: absolute;
  left: -10px;
  top: -20px;
  width: 290px;
  height: 42px;
  background-color: #5ec3ab;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ministry-category {
  font-weight: 700;
  color: #efefef;
  font-size: 1.4em;
  text-transform: uppercase;
  margin: 0;
}

.ministry-card {
  width: 390px;
  height: 300px;
  border: 1px solid #000000;
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Inter", sans-serif;
}

.ministry-card-image {
  flex: 1;
  /* Make the image flex-grow to take up available space */
  width: 100%;
  object-fit: cover;
}

.ministry-card-button {
  background-color: #437b78;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}


 

.ministry-category-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.ministry-category-modal-content {
    z-index: 99;
  background: #ffffff;
  padding: 30px;
  border-radius: 5px;
  height: 600px; /* You can adjust this height based on your preference */
  max-height: 80vh; /* Set a maximum height */
  width: 650px;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enable vertical scrolling */
}

.ministry-category-modal-wrapper {
  display: flex;
  flex: 0 95%;
  flex-direction: row;
  gap: 30px;
}

.ministry-category-modal-image-container {
  width: 230px;
  height: 270px;
  border: 2px solid black;
}

.ministry-category-image-container img {
  max-width: 100%;
  max-height: 100%;
}

.ministry-category-text-container {
    display: flex;
    flex-direction: column;
     align-items: flex-start; /* Align at the beginning horizontally */
    text-align: left;
    width: 340px;
}

.ministry-category-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ministry-pastor-name, .ministry-category-title{
    font-size: 1em;
    margin-bottom: -0.2rem;
}

.ministry-category-description, .ministry-pastor-details{
    font-size: 0.8em;
  
}

.ministry-category-description{
    margin-bottom: 1em;
}

.ministry-pastor-details{
    margin-bottom: -0.2rem;
}

.ministry-pastor-quote{
    font-weight: 200;
    font-style: italic;
    font-size: 0.65em;
    margin-top: 10px;
}

.ministry-category-modal-header {
    display: flex;
    justify-content: flex-end;  }
  
  .ministry-category-close-button {
    cursor: pointer;
    font-size: 20px;
    color: #000000; /* Adjust the color as needed */
    margin-right: 10px;
  }
  

  .ministry-pastor-img, .ministry-category-img {
  
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


@media (max-width: 768px) {
  .ministry-category-modal-content {
    width: 100%;
    /* Make it take full width on smaller screens */
    height: auto;
  }

   #category {
    flex-direction: column;
    
  }

   #pastor {
    flex-direction: column-reverse;
   
   }

   .ministry-category-modal-image-container{
    margin-bottom: -70px;
   }

  .ministry-category-button-wrapper {
    flex: 0 0 auto;
    /* Reset flex properties */
    width: 100%;
    /* Make it take full width on smaller screens */
  }

  .ministry-category-text-container {
    text-align: left;
    width: auto;
    width: 100%;
  }
}
