@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter&family=Lato&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,800;0,900;1,100;1,200;1,700;1,900&family=Poppins&family=Roboto+Condensed:wght@400;500&family=Roboto:ital,wght@0,500;0,900;1,400&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
   color: rgb(0, 0, 0);
  padding-left: 40px;
  padding-right: 40px;
}

/* Logo styles */
.logo {
  width: 130px;
  /* Adjust the width as needed */
  height: auto;
}

.navbar-left {
  width: 190px;
}

/* Navigation links styles */
.navbar-middle {
  display: flex;
  gap: 2.6rem;
  font-size: 1.1em;
  color: #ffffff;
  text-transform: uppercase;
  align-items: center; /* Align items vertically in the middle */
}

.navbar-middle a, .dropbtn {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 12px 16px;
  text-align: center; /* Center text within the links/buttons */
}

/* Center and align dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left; /* Align dropdown content text to the left */
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 190px;
}

.toggle-icon {
  cursor: pointer;

}

.nav-social-icons {
  display: flex;
  flex-direction: row;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-size: 1.1em;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-donate-button {
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  background-color: #ffffff;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.navbar-donate-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (max-width: 768px) {
  .navbar-donate-button {
    padding: 0.25em 0.75em;
  }

  .navbar {
    display: none;
  }
}


.overlay {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  overflow-x: hidden;
  transition: 0.5s;
  font-size: 1.3em;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 35%;
  width: 100%;
  text-align: center;
  margin-top: 30px;

}
