/* Add your styling for the side panel here */
  .side-panel {
    width: 200px;
    background-color: #333;
    color: #fff;
    position: fixed;
    height: 100vh;
    top: 70px; /* to ensure that navbar will not be covered*/
  }
  
  /*side-panel-admin*/
  .side-panel-admin {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #595959;
    padding: 20px 15px 15px 15px;
  }

  .side-panel-admin img {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    margin-bottom: 10px;
    margin-right: 10px;
  }

  /* Side Panel Buttons */
  .side-panel-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .side-panel-menu li {
    padding: 16px 0;
  }
  
  .side-panel-menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 16px 100px 16px 15px;
  }
  
  .side-panel-menu ul li:hover,
  .side-panel-menu a:hover {
    color: #ff9900;
    background-color: #1e1c1c;
  }

  .side-panel-menu ul li.selected,
  .side-panel-menu ul li.selected a {
    color: #ff9900;
    background-color: black ;
  }

/* Logout and Settings buttons */
.bottom-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 13%;
}

.bottom-buttons ul {
  list-style-type: none;
  padding: 0;
}

.bottom-buttons li {
  margin-bottom: 10px;
}

.bottom-buttons a {
  text-decoration: none;
  color: #fff;
  opacity: 1;
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

.bottom-buttons a:hover {
  opacity: 0.5;
}

  /* Navigation Bar Styles */
  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    color: #fff;
    padding: 10px;
    border-bottom: 3.5px solid #808080;
    height: 100%;
    max-height: 70px;
    width: 100%;
  }

  .top-nav .left {
    display: flex;
    align-items: center;
    margin-left: 2%;
    color: #dfdfdf;
    font-size: 22px;
    font-weight: bold;
  }

  .top-nav .right {
    display: flex;
    align-items: center;
    width: 400px;
  }

  .search-bar {
    width: 100%;
    max-width: 250px;
    background: white;
    display: flex;
    align-items: center;
    margin: 5% 5%;
    border-radius: 60px;
    padding: 0 10px;
  }

  .search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 10px;
    font-size: 14px;
    margin: 0;
  }

  .nav-button-container {
    margin: 0;
  }

  .nav-button-container ul{
    list-style-type: none;
    padding: 0;
    display: flex;
  }

  .nav-button-container li {
    margin-right: 15px;
  }

  .nav-button-container a {
    text-decoration: none;
  }
  
  .nav-logo {
    width: 20px;
    height: 20px;
  }

  .nav-button-container a:hover{
    opacity: 0.5;
  }

  /* main-contenr*/
  .dashboard-container {
    flex-direction: column;
  }

  .main-content{
    flex-grow: 1;
    margin-left: 200px;
  }
  