.join-us-header-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/sitecoverimages/donations.jpg') center center/cover no-repeat;
}

.NavBar,
.join-us-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.join-us-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    width: 860px;
    font-weight: 600;
    text-align: center;
    font-size: 90px;
    line-height: 1.8em;
    text-transform: uppercase;
    max-width: 100%;
    /* Ensure the text does not overflow its container */
    padding: 0 20px;
    /* Add padding to prevent text from sticking to the edges */

}

.join-us-main-section {
    padding: 50px;
    height: auto;
}

.main-section-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.main-section-title h1 {
    font-size: 150px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}

.main-section-image-container {
    width: 1080px;
    height: 500px;
    border: 2px solid black;
    box-shadow: 20px 20px #437B78;
    ;

}


.join-us-ministry-section, .join-us-volunteer-section {
    height: auto;
    padding: 50px;
}


.ministry-wrapper,  .connect-group-wrapper  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.volunteer-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; /* Adjust the gap as needed */
  }

  .volunteer-wrapper .volunteer-card {
    width: 100%; /* Adjust the width as needed */
  }


@media screen and (max-width: 768px) {

    .main-section-wrapper {
        flex-direction: column;
    }


    .ministry-wrapper {
         flex-direction: column;
         gap: 20px;
    }

}