@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter&family=Lato&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,800;0,900;1,100;1,200;1,700;1,900&family=Poppins&family=Roboto+Condensed:wght@400;500&family=Roboto:ital,wght@0,500;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;

}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #ededed;
}


::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.hero-container {
  position: relative;
}

.hero-header-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(45, 118, 103, 0.9);
  /* Adjust the overlay color and opacity as needed */
  z-index: 0;
}

.header-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* Adjust to column layout */
  height: 100%;
  /* Ensure the container takes full height */
}

.video-background-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

.header-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -140px;

}

.hero-title {
  font-family: 'Montserrat', sans-serif;
  width: 860px;
  font-weight: 600;
  text-align: center;
  font-size: 90px;
  line-height: 90px;
  color: #ffffff;
}

.social-icons {
  margin-top: -100px;
  /* Push the social icons to the bottom */
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook-icon,
.instagram-icon {
  font-size: 1.2rem;
  /* Adjust the icon size as needed */
  margin: 0 10px;
  /* Adjust the margin between icons as needed */
  color: #ffffff;
  /* Set the icon color */
}


.header-title h3 {
  font-size: 29px;
  width: 820px;
  color: #ffffff;
  line-height: 1.2em;
  font-style: italic;
  font-weight: 200;
  font-family: 'Lato';
}

.hero-container-about-section {
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
height: auto;
  margin-top: 40px;
}

.container {
  margin: 0 auto;
  padding: 6rem 6rem 6rem 6rem;
}

.hero-container-about-section-image-container {
  max-width: 100%; /* Ensure the container does not exceed its parent's width */
  height: auto; /* Maintain aspect ratio */
  border: 3px black solid;
}


.page-title {
  margin-bottom: 8rem;
  font-family: "Anton", sans-serif;
  font-size: 15rem;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  line-height: 16rem;
  color: #000000;
  margin-top: 6rem;
}

@media only screen and (max-width: 760px) {
  .page-title {
    margin-bottom: 6rem;
    font-size: 8rem;
  }
}

@media only screen and (max-width: 580px) {
  .page-title {
    margin-bottom: 4rem;
    line-height: 150px;
    text-align: center;
    font-size: 7rem;
  }
}

@media only screen and (max-width: 370px) {
  .page-title {
    margin-bottom: -30px;
    font-size: 5rem;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media only screen and (max-width: 760px) {
  .content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.content__descriptor {
  width: 14%;
  border-top: 1px solid #7b7b7b;
  padding-top: 4rem;
}

@media only screen and (max-width: 760px) {
  .content__descriptor {
    width: 100%;
    padding: 2rem 0;
    border-top: none;
  }
}

.content__title {
  font-size: 1.5rem;
  font-weight: 400;
}

.content__text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 2rem;
  width: 50%;
  border-top: 1px solid #7b7b7b;
  border-bottom: 1px solid #7b7b7b;
  margin-right: 1rem;
  padding: 4rem 0;
}

@media only screen and (max-width: 920px) {
  .content__text-box {
    margin-right: 0;
  }
}

@media only screen and (max-width: 760px) {
  .content__text-box {
    width: 100%;
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 580px) {
  .content__text-box {
    border-bottom: none;
  }
}

.content__text {
  width: 520px;
}

@media only screen and (max-width: 580px) {
  .content__text {
    width: 100%;
  }
}

 
.hero-imbedded-video-container {
  height: auto;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  /* Align children vertically */
  justify-content: center;
  align-items: center;
}

.hero-imbedded-video-container-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.hero-imbedded-video-container-text-container {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.hero-imbedded-video-container-text-container h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 6em;
  margin-bottom: 0.3em;
}

.hero-imbedded-video-container-text-container h4 {
  width: 900px;
  font-weight: 400;
}

.hero-imbedded-video-container-video-placeholder-container {
  width: 1200px;
  height: 500px;
  border: 3px solid white;
}

.hero-container-founder-container {
  height: auto;
  background-color: #d7d7d7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container-founder-flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 60px;
}

.founder-flex-text-container {
  text-align: left;
  /* Adjust text alignment within the text container */
  width: 600px;
}

.founder-flex-text-container h1 {
  font-size: 3em;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}

.founder-flex-text-container h3 {
  font-size: 2em;
  margin-bottom: 0.4em;
}

.founder-flex-text-container p {
  margin-bottom: 2em;
}


.founder-flex-image-container {
  width: 400px;
  height: 550px;
  border: #000 2px solid;
  margin-left: 20px;
  /* Add some left margin for spacing between text and image */
}

/* Add some styles to the image if needed */
.founder-img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
  .hero-container-founder-flex-wrapper {
    flex-direction: column-reverse;
  }

  .founder-flex-image-container {
    margin-top: 0;
  }

  .founder-flex-text-container {
    text-align: center;
    width: 100%;
    /* Use full width on mobile */
  }

  .founder-flex-text-container {
    text-align: left;
    width: auto;
    /* Reset width for mobile */
  }
}


.hero-container-mission_vision-container {
  height: auto;
  background-color: #e4e4e4;
  padding: 50px;
  
}

.hero-container-mission-flex-wrapper,
.hero-container-vision-flex-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 60px;
}

.mission-flex-text-container,
.vision-flex-text-container {
  text-align: center;
  width: 100%;
  /* Use full width on mobile */
}


.mission-flex-text-container,
.vision-flex-text-container {
  text-align: left;
  width: 600px;
}



.mission-flex-image-container,
.vision-flex-image-container {
  width: 500px;
  height: 440px;
}

.mission-img,
.vision-img {
  max-width: 100%;
  max-height: 100%;
}


.mission-flex-text-container h1,
.vision-flex-text-container h1 {
  font-size: 3em;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}

.mission-flex-text-container h3,
.vision-flex-text-container h3 {
  font-size: 2em;
  margin-bottom: 0.4em;
}

.mission-flex-text-container p,
.vision-flex-text-container p {
  margin-bottom: 2em;
}

@media screen and (max-width: 768px) {
  .hero-container-mission-flex-wrapper {
    flex-direction: column;
  }

  .hero-container-vision-flex-wrapper {
    flex-direction: column-reverse;
  }

  .mission-flex-text-container,
  .vision-flex-text-container {
    text-align: center;
    width: 100%;
    /* Use full width on mobile */
  }

  .mission-flex-text-container,
  .vision-flex-text-container {
    text-align: left;
    width: auto;
    /* Reset width for mobile */
  }

  .mission-flex-image-container,
  .vision-flex-image-container {
    margin-bottom: 10px;
  }

  .mission-flex-text-container h1,
  .vision-flex-text-container h1 {
    font-size: 7vw;
    /* Adjust font size based on viewport width */
  }

  .mission-flex-text-container h3,
  .vision-flex-text-container h3 {
    font-size: 5vw;
    /* Adjust font size based on viewport width */
    margin-bottom: 0.4em;
  }

  .mission-flex-text-container p,
  .vision-flex-text-container p {
    font-size: 3vw;
    margin-bottom: 2vw;
    /* Adjust margin based on viewport width */
  }

  .mission-flex-image-container,
  .vision-flex-image-container {
    width: 120%;
    /* Take full width on smaller screens */
    height: auto;
    margin-left: 0;
    /* Remove left margin on mobile for better spacing */
  }

  .mission-img,
  .vision-img {
    width: 120%;
    /* Take full width on smaller screens */
    height: auto;
    margin-left: 0;
    /* Remove left margin on mobile for better spacing */
  }
}


.hero-volunteer-container {
  background-color: rgb(255, 255, 255);
  padding: 50px;
  height: auto;
}

.hero-volunteer-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}